.title {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.wrp {
    margin-top: 24px;
    width: 1156px;
    border-radius: 49px;
}

.statistic_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.repos_title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}

.repositories_wrp {
    width: 100%;
    background: #ffffff;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 60px;
}

.repo_wrp {
    display: flex;
    justify-content: space-between;
    padding: 16px 30px;
    border-bottom: 1px solid #D9D9D9;
}

.repo_wrp:hover {
    background: #edebd0;
    cursor: pointer;
}

.repo_inner_wrp {
    display: flex;
    align-items: center;
}

.repo_inner_wrp img {
    margin-right: 16px;
}

.view_all_repositories {
    text-decoration: none;
}

.view_all_repositories_wrp {
    padding: 30px;
}

.view_all_repositories:hover {
    color: #2ABAEA;
    text-decoration-line: underline;
}