.wrp {
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
    /*background: white;*/
    /*border-radius: 30px;*/
    /*box-shadow: 0 1px 5px;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*z-index: 2;*/
}

.users_result_title,
.users_show_more {
    padding: 30px 0 15px 30px;
}

.preloader {
    padding: 15px;
}

.users_show_more {
    cursor: pointer;
}

.users_show_more:hover {
    color: #2ABAEA;
    text-decoration-line: underline;
}