.wrp_outer {
    width: 750px;
    background: white;
    border-radius: 30px;
    margin-top: 5px;
    box-shadow: 0 2px 10px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

.wrp_inner {
    max-height: 400px;
    overflow-y: scroll;
}

.result_title {
    padding: 30px;
}


a {
    text-decoration: none;
    color: #202E31;
}

@media all and (max-width: 720px) {
    .wrp_outer {
        width: 525px;
    }
}

@media all and (max-width: 560px) {
    .wrp_outer {
        width: 360px;
    }
}

/*********************** Info Mode ***********************/

.wrp_outer_mode {
    width: 750px;
    background: white;
    border-radius: 30px;
    margin-top: 5px;
    box-shadow: 0 2px 10px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}