.wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.logo {
    width: 96px;
}

.title_wrp {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.author_title,
.author_title_mode{
    opacity: .7;
}

.author_title a {
    text-decoration: none;
    color: #ffffff;
}

.author_title a:hover {
    color: #ececec;
}

/*********************** Info Mode ***********************/

.wrp_mode {
    display: flex;
    align-items: center;
    margin-right: 100px;
    color: #FFFFFF;
 }

.logo_mode {
    width: 74px;
    margin-right: 20px;
}

.title_mode {
    font-size: 25px;
    margin-bottom: 3px;
}

.author_title_mode {
    font-size: 12px;
}

.author_title_mode a {
    text-decoration: none;
    color: #ffffff;
}

.author_title_mode a:hover {
    color: #ececec;
}