.wrp {
    margin-top: 24px;
    margin-bottom: 50px;
    width: 1156px;
    border-radius: 49px;
}

.title {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.repo_name {
    margin-top: 18px;
    font-size: 25px;
}

.statistic_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.languages_wrp {
    padding: 30px;
    background: #ffffff;
    border-radius: 22px;
}

.about_contributors_row {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about_contributors_wrp {
    width: 49%;
}

.about_contributors_block {
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 22px;
    font-size: 14px;
}

.inner_row {
    display: flex;
    margin-bottom: 30px;
}

.contributor_item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 15px;
}

.contributor_item img {
    width: 52px;
    border-radius: 100%;
    margin-right: 10px;
}

.contributor_info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.view_all_contributors {
    text-decoration: none;
}

.view_all_contributors:hover {
    color: #2ABAEA;
    text-decoration-line: underline;
}
