.wrp {
    margin-top: 24px;
    padding: 66px;
    width: 1000px;
    border: 1px solid rgba(40, 44, 52, 0.4);
    border-radius: 49px;
}

.title {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.repo_name {
    margin-top: 18px;
    font-size: 25px;
}