.wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_search_wrp {
    margin-top: 150px;
}

/*********************** Info Mode ***********************/

.logo_search_wrp_mode {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
