.wrp, .wrp_mode {
    width: inherit;
    margin-top: 5px;
    background: #ffffff;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 160px;
    box-shadow: 0 6px 17px rgba(37, 42, 52, 0.17);
}

.wrp_mode {
    position: absolute;
    z-index: 100;
}