.searchInput, .searchBtn {
    padding: 10px !important;
    margin-bottom: 15px;
}

.usersList {
    background-color: #f6f6f6;
}

.user:hover {
    background-color: #dedede;
    cursor: pointer;
}

.selected {
    background-color: rgba(163, 212, 158, 0.73) !important;
}

.userDetailsCard {
    padding: 30px;
}

.userDetailsWrp img {
    width: 20rem;
}