.wrp {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    color: #ffffff;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.link:hover {
    color: #dddddd;
}
