.wrp {
    margin-top: 40px;
    /*border: 1px solid #626263;*/
}

input {
    width: 750px;
    padding: 1.2em 10em 1.2em 4.2em;
    border-radius: 2rem;
    border: none;
    background-image: url("../../assets/Loupe.svg");
    background-position: 30px 20px;
    background-repeat: no-repeat;
    font-size: 16px;
    color: #5f5f5f;
    transition: .3s;
}

input:focus {
    outline: none;
    box-shadow: 0 1px 5px;
}

input::placeholder {
    color: #B2B2B3;
    font-size: 16px;
}

.search_btn {
    padding: 15px 63px 15px 30px;
    background: #62C791;
    background-image: url("../../assets/Arrow.svg");
    background-repeat: no-repeat;
    background-position: 97px 3px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 25px;
    margin-left: -147px;
    cursor: pointer;
    transition: .2s;
}

.search_btn:hover {
    color: #343b4e;
}

.arrow {
    margin-left: -10px;
}

@media all and (max-width: 780px) {
    input {
        width: 600px;
    }
}

@media all and (max-width: 620px) {
    input {
        width: 350px;
    }
}

/*********************** Info Mode ***********************/
